<script type="text/javascript">

  $(function () {
    var url = "";

    Vue.prototype.$http = axios

    var app = new Vue({
      el: '#app',
      data: {
        uri: 'mongodb+srv://datracer:qwer1234@datracercluster-rrswx.mongodb.net/?retryWrites=true',
        databaseName: 'test',
        errorMessage: '',
        response: null
      },
      methods: {
        connect: function (event) {
          var _this = this
          event.preventDefault();

          var payload = {
            uri: this.uri,
            databaseName: this.databaseName
          };

          // send get request
          this.$http
            .post(url, payload)
            .then(function (data) {
              // set data on vm
              this.response = data;
              _this.errorMessage = 'Connected!';
              window.location.href = '/stream'
            })
            .catch(function (error) {
              console.error(error);
              _this.errorMessage = error.message;
            });
        }
      }
    });
  });
</script>

<div id="app" class="container">
  <div class="well well-default">
    <h3 class='text-center'>Connect to MongoDB</h3>
    <hr />
    <form id='connect-form' v-on:submit="connect" method="POST" action="/connect" class="form-horizontal">
      <div class="form-group">
        <label for="uri" class="col-xs-3 control-label">URI</label>
        <div class="col-xs-9">
          <input type="text" v-model="uri" required="required" class="form-control" id="uri" name="uri" placeholder="ex: mongodb://localhost:27017">
        </div>
      </div>
      <div class="form-group">
        <label for="database-name" class="col-xs-3 control-label">Database Name</label>
        <div class="col-xs-9">
          <input type="text" v-model="databaseName" required="required" class="form-control" id="database-name" name="database-name"
            placeholder="ex: test">
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
          <button type="submit" class="btn btn-primary">Connect</button>
        </div>
      </div>
    </form>
    <div><code>{{ errorMessage }}</code></div>
  </div>
</div> <!-- /container -->
