<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1>DA Tracer</h1>
      <p>DA Tracer stands for Database Agnostic Tracer. It helps in getting to know how your database is doing.</p>
      <p><a class="btn btn-primary btn-lg" href="/connect" role="button">Let's Start!</a></p>
    </div>
  </div>
</div> <!-- /container -->
